<div class="container-fluid">
    <form class="form-container d-flex flex-column">
        <img src="../../assets/images/logo.png" class="coude-logo">
        <div class="form-content d-flex flex-column">
            <label>Email/ Account name</label>
            <input type="text" class="form-text">
            <label>Password</label>
            <input type="password" class="form-text">
        </div>
        <br>
        <div  class="text-center">
            <hr style="width: 80%; display: block; margin: auto;">
            <p>Or sign in with</p>
        </div>
        <div id="smart-login" class="d-flex justify-content-evenly">
            <button><img id="logo" onclick="window.open('https://accounts.google.com/')" src="../../assets/icon/google-brands.svg"></button>
            <button><img id="logo" onclick="window.open('https://www.facebook.com/')" src="../../assets/icon/facebook-square-brands.svg"></button>
            <button><img id="logo" onclick="window.open('https://www.linkedin.com/')" src="../../assets/icon/linkedin-brands.svg"></button>
        </div>
        <br>
        <br>
        <div id="button-block" class="d-flex justify-content-evenly">
            <button class="button--grey">Forgot password?</button>
            <button type="submit" class="button--green">Sign in</button>
        </div>
    </form>
</div>

