<!-- <nav class="header__container navbar fluid-container py-0 position-fixed w-100" id="navbar"> -->
<nav class="header__container navbar navbar-expand-lg py-0 position-fixed fixed-top align-content-around w-100"
    id="navbar" [ngClass]="{'justify-content-between': admin}">
    <button type="button" class="icon navbar-toggle bg-transparent" data-bs-toggle="collapse"
        data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false"
        aria-label="Toggle navigation">☰</button>

    <a class="navbar-brand p-0 mx-lg-5 ms-xs-0" href="#" id="logo">
        <img class="p-0" src="../../assets/images/logo.png" alt="Logo">
    </a>
    <div *ngIf="admin && login; then adminView; else userView;"></div>
    <ng-template #userView>
        <div class="navbar__link-container collapse navbar-collapse justify-content-between" id="navbarContent">
            <ul class="navbar-nav">
                <li *ngIf="login" class="nav-item"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/catalog">Catalog</a></li>
                <li class="nav-item"><a class="nav-link" href="/forum">Forum</a></li>
            </ul>


        </div>
        <div class="position-relative search-container">
            <form class="search-box d-flex justify-content-around align-items-center me-lg-5" id="navbar">
                <input class="border-0 bg-transparent form-control" type="search" name="searchText"
                    [(ngModel)]="searchText" placeholder="Search...">
                <button class="bg-transparent" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-search" viewBox="0  0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </button>
            </form>
            <!-- <ul class="search-list d-flex flex-column" *ngFor="let c of courses | searchFilter: searchText"> -->

            <ul class="search-list d-flex flex-column p-0 m-0 position-absolute">
                <li class="text-truncate" *ngFor="let c of courses | searchFilter: searchText">
                    <img src="{{c.image}}" alt="img" style="width: 40px; height: 23px">
                    {{c.title}}
                </li>
            </ul>
        </div>

        <div *ngIf="!login">
            <div class="header__button-container d-flex">
                <button id="login">Log in</button>
                <button id="signup">Sign up</button>
            </div>
        </div>
        <div *ngIf="login">
            <div class="header__button-container d-flex ">
                <div class="btn-noti">
                    <svg style="width: 25px; height:25px; fill: white;" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512">
                        <path
                            d="M224 512c35.32 0 63.97-28.65 63.97-64H160.03c0 35.35 28.65 64 63.97 64zm215.39-149.71c-19.32-20.76-55.47-51.99-55.47-154.29 0-77.7-54.48-139.9-127.94-155.16V32c0-17.67-14.32-32-31.98-32s-31.98 14.33-31.98 32v20.84C118.56 68.1 64.08 130.3 64.08 208c0 102.3-36.15 133.53-55.47 154.29-6 6.45-8.66 14.16-8.61 21.71.11 16.4 12.98 32 32.1 32h383.8c19.12 0 32-15.6 32.1-32 .05-7.55-2.61-15.27-8.61-21.71z" />
                    </svg>
                </div>
                <div class="">
                    <button class="btn-user dropdown rounded-circle bg-white" href="#" id="userDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <!-- <span class="rounded-circle"></span> -->
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <li><a class="dropdown-item" href="#">Personal Info</a></li>
                        <li><a class="dropdown-item" href="#">My Learning</a></li>
                        <li><a class="dropdown-item" href="#">My Purchase</a></li>
                        <li><a class="dropdown-item" href="#">Setting</a></li>
                        <li *ngIf="isAdmin"><a class="dropdown-item" href="#">Administrator</a></li>
                        <li><a class="dropdown-item" href="#">Support</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </ng-template>

    <!-- <div class=""> -->
    <!-- admin -->
    <ng-template #adminView>
        <div class="d-flex header__button-container me-0">
            <div class="btn-noti">
                <svg style="fill: white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path
                        d="M224 512c35.32 0 63.97-28.65 63.97-64H160.03c0 35.35 28.65 64 63.97 64zm215.39-149.71c-19.32-20.76-55.47-51.99-55.47-154.29 0-77.7-54.48-139.9-127.94-155.16V32c0-17.67-14.32-32-31.98-32s-31.98 14.33-31.98 32v20.84C118.56 68.1 64.08 130.3 64.08 208c0 102.3-36.15 133.53-55.47 154.29-6 6.45-8.66 14.16-8.61 21.71.11 16.4 12.98 32 32.1 32h383.8c19.12 0 32-15.6 32.1-32 .05-7.55-2.61-15.27-8.61-21.71z" />
                </svg>
            </div>
            <div class="dropdown">
                <button class="btn-user dropdown rounded-circle text-white" href="#" id="userDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <!-- <span class="rounded-circle"></span> -->
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                    <li><a class="dropdown-item" href="#">Personal Info</a></li>
                    <li><a class="dropdown-item" href="#">My Learning</a></li>
                    <li><a class="dropdown-item" href="#">My Purchase</a></li>
                    <li><a class="dropdown-item" href="#">Setting</a></li>
                    <li><a class="dropdown-item" href="#">
                            <span>Administrator</span>
                            <span class="ms-3"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="16"
                                    fill="var(--green)" class="bi bi-check-lg" viewBox="0 0 16 16">
                                    <path
                                        d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                                </svg> </span>
                        </a>
                    </li>
                    <li><a class="dropdown-item" href="#">Support</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div>
        </div>
    </ng-template>
    <!-- *ngIf="!admin; then #userView; else #adminView" -->
</nav>