<div class="container-fluid ">
    <div class="container-fluid">
        <div class="back-link">
            <a href="">HTML&CSS</a>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="title fw-bold fs-1">Back-End Engineer</div>
                <div class="row">
                    <div class="stars">
                        <div class="rate">
                            <input class="star star-5" id="star-5" type="radio" name="star" />
                            <label class="star star-5" for="star-5"></label>
                            <input class="star star-4" id="star-4" type="radio" name="star" />
                            <label class="star star-4" for="star-4"></label>
                            <input class="star star-3" id="star-3" type="radio" name="star" />
                            <label class="star star-3" for="star-3"></label>
                            <input class="star star-2" id="star-2" type="radio" name="star" />
                            <label class="star star-2" for="star-2"></label>
                            <input class="star star-1" id="star-1" type="radio" name="star" />
                            <label class="star star-1" for="star-1"></label>
                        </div>
                    </div>
                    <div class="rate">1000 rates</div>
                </div>
                <div class="instructor"></div>
                <div class="offered">Offered By Coudé</div>
                <div class="btn btn-success m-3 text-light text-center">
                    Enroll for Free
                    <br> Starts Nov 7
                </div>
                <div class="enrol-number">3000 already enrolled</div>
            </div>
            <div class="col-md-6 ">
                <div class="row">
                    <div class="col-sm-4 border-start">
                        <img src="" alt="">
                    </div>
                    <div class="col-sm-7">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis nisi voluptatibus odit inventore maxime, earum asperiores aut aspernatur. Laudantium enim maxime deserunt, dolore deleniti ipsum corrupti reiciendis dicta omnis molestias! Lorem ipsum dolor
                        sit amet consectetur adipisicing elit. Dicta ea ullam vero assumenda cumque porro. Cumque dignissimos asperiores neque, obcaecati similique, consectetur odio tempore et, libero debitis unde molestiae recusandae.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-5">
        <div class="row justify-content-center border">
            <a ng-click="selectedInfor(selectedEnroll.atc)" href="javascript:void(0)" class="infor--link">
                            About the course
                        </a>
            <a ng-click="selectedInfor(selectedEnroll.hiw)" href="javascript:void(0)" class="infor--link">
                            How it works
                        </a>
            <a ng-click="selectedInfor(selectedEnroll.language)" href="javascript:void(0)" class="infor--link">
                            Language
                        </a>
            <a ng-click="selectedInfor(selectedEnroll.fee)" href="javascript:void(0)" class="infor--link">
                        Tution Fee
                        </a>
            <a ng-click="selectedInfor(selectedEnroll.instruc_descript)" href="javascript:void(0)" class="infor--link">
                            Instructor
                        </a>
            <a ng-click="selectedInfor(selectedEnroll.degree)" href="javascript:void(0)" class="infor--link">
                            Degree/Certificate
                        </a>

        </div>
        <div class="detail">
            <div class="row border">
                <div class="col-md-7 m-3">
                    This course teaches you the simple principles expert managers use to improve and motivate employee performance. You’ll never have to avoid telling an employee “the truth” again, because the seven techniques we teach will not make employees defensive or
                    afraid. As a manager, or someone who would like to be a manager, you’ll also learn specifically what feedback is, how negative feedback is weighed more heavily than positive, and how positive feedback can super-charge behaviors such
                    as creativity and teamwork. Giving feedback is a skill which develops over time. We give you a process you can use to improve your feedback skills and deliver it with confidence. You will find that there is a scientific basis for many
                    of your observations and intuitions about feedback—such as, it is hard to give correctly, people don’t like it, and more. This will be reassuring as you learn how to overcome these difficulties. We hope you have a fantastic time becoming
                    a better manager!
                </div>
                <div class="col-md-4 border-start m-3">
                    <div class="txtinforrg ms-3">
                        <i class="glyphicon glyphicon-time"></i> Shareable Certificate
                    </div>
                    <div class="txtinforrg m-3">
                        <i class="glyphicon glyphicon-star"></i> Beginner Level
                    </div>
                    <div class="txtinforrg m-3">
                        <i class="glyphicon glyphicon-list-alt"></i> Flexible Schedule
                    </div>
                    <div class="txtinforrg m-3">
                        <i class="glyphicon glyphicon-book"></i> Approximately 4 months complete
                    </div>
                    <div class="txtinforrg m-3">
                        <i class="glyphicon glyphicon-edit"></i> Shareable Certificate
                    </div>
                    <div class="txtinforrg m-3">
                        <i class="glyphicon glyphicon-ok-circle"></i> English
                    </div>
                    <div class="txtinforrg m-3">
                        <i class="glyphicon glyphicon-education"></i> 100% online course
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>