<div id="container" class="flex__item--row">
    <nav class="navbar navbar-expand d-flex flex-column align-item-start" id="sidebar">
        <a href="#" class="navbar-brand text-light mt-3 text-center">
            <div class=" font-weight-bold">Language</div>
        </a>
        <ul class="navbar-nav d-flex flex-column mt-2 w-100">
            <li class="nav-item w-100">
                <a href="#" class="nav-link text-light pl-4">HTML&CSS</a>
            </li>
            <li class="nav-item w-100">
                <a href="#" class="nav-link text-light pl-4">Python</a>
            </li>
            <li class="nav-item w-100">
                <a href="#" class="nav-link text-light pl-4">JavaScript</a>
            </li>
            <li class="nav-item w-100">
                <a href="#" class="nav-link text-light pl-4">Java</a>
            </li>
            <li class="nav-item w-100">
                <a href="#" class="nav-link text-light pl-4">SQL</a>
            </li>
            <li class="nav-item w-100">
                <a href="#" class="nav-link text-light pl-4">C++</a>
            </li>
            <li class="nav-item w-100">
                <a href="#" class="nav-link text-light pl-4">C#</a>
            </li>
            <li class="nav-item w-100">
                <a href="#" class="nav-link text-light pl-4">R</a>
            </li>
            <li class="nav-item w-100">
                <a href="#" class="nav-link text-light pl-4">Kotlin</a>
        </ul>
        <a href="#" class="navbar-brand text-light mt-3 text-center">
            <div class=" font-weight-bold">Subjects</div>
        </a>
        <ul class="navbar-nav d-flex flex-column mt-2 w-100">
            <li class="nav-item w-100">
                <a href="#" class="nav-link text-light pl-4">Web Design</a>
            </li>
            <li class="nav-item w-100">
                <a href="#" class="nav-link text-light pl-4">Data Science</a>
            </li>
            <li class="nav-item w-100">
                <a href="#" class="nav-link text-light pl-4">Computer Science</a>
            </li>
            <li class="nav-item w-100">
                <a href="#" class="nav-link text-light pl-4">For Business</a>
            </li>
            <li class="nav-item w-100">
                <a href="#" class="nav-link text-light pl-4">Mobile Development</a>
            </li>
        </ul>
        <a href="#" class="navbar-brand text-light mt-3 text-center">
            <div class=" font-weight-bold">Where do I begin?</div>
        </a>
    </nav>
    <div id="content" class="flex__item">
        <!-- banner1 -->
        <div class="banner1">
            <img src="../../assets/images/catalog/banner1.PNG" class="img-fluid" alt="Responsive image">
            <div class="txtbanner1">Not sure where to begin? Take our quiz?</div>
        </div>
        <!-- header 1-->
        <div class="row">
            <h4 class="header mt-5">Most Popular</h4>
        </div>
        <!-- courses popular-->
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4">
                <a class="linkenroll" target="blank">
                    <div class="txtcourse">
                        <div class="tag">
                            <p class="txttag">Pro</p>
                        </div>
                        <div class="information">
                            <p class="box--course_header">Front-End Engineer</p>
                            <ul>
                                <li>Beginner friendly</li>
                                <li>121 Lessons</li>
                            </ul>
                        </div>
                        <p class="coude">Coudé</p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <a class="linkenroll" target="blank">
                    <div class="txtcourse">
                        <div class="tag">
                            <p class="txttag">Pro</p>
                        </div>
                        <div class="information">
                            <p class="box--course_header">Front-End Engineer</p>
                            <ul>
                                <li>Beginner friendly</li>
                                <li>121 Lessons</li>
                            </ul>
                        </div>
                        <p class="coude">Coudé</p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <a class="linkenroll" target="blank">
                    <div class="txtcourse">
                        <div class="tag">
                            <p class="txttag">Pro</p>
                        </div>
                        <div class="information">
                            <p class="box--course_header">Front-End Engineer</p>
                            <ul>
                                <li>Beginner friendly</li>
                                <li>121 Lessons</li>
                            </ul>
                        </div>
                        <p class="coude">Coudé</p>
                    </div>
                </a>
            </div>
        </div>
        <!-- header 2-->
        <div class="row">
            <h4 class="header mt-5">New</h4>
        </div>
        <!-- courses new -->
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4">
                <a class="linkenroll" target="blank">
                    <div class="txtcourse">
                        <div class="tag">
                            <p class="txttag">Pro</p>
                        </div>
                        <div class="information">
                            <p class="box--course_header">Front-End Engineer</p>
                            <ul>
                                <li>Beginner friendly</li>
                                <li>121 Lessons</li>
                            </ul>
                        </div>
                        <p class="coude">Coudé</p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <a class="linkenroll" target="blank">
                    <div class="txtcourse">
                        <div class="tag">
                            <p class="txttag">Pro</p>
                        </div>
                        <div class="information">
                            <p class="box--course_header">Front-End Engineer</p>
                            <ul>
                                <li>Beginner friendly</li>
                                <li>121 Lessons</li>
                            </ul>
                        </div>
                        <p class="coude">Coudé</p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <a class="linkenroll" target="blank">
                    <div class="txtcourse">
                        <div class="tag">
                            <p class="txttag">Pro</p>
                        </div>
                        <div class="information">
                            <p class="box--course_header">Front-End Engineer</p>
                            <ul>
                                <li>Beginner friendly</li>
                                <li>121 Lessons</li>
                            </ul>
                        </div>
                        <p class="coude">Coudé</p>
                    </div>
                </a>
            </div>
        </div>
        <!-- header 3 -->
        <div class="row">
            <h4 class="header mt-5">Blog</h4>
        </div>
        <!-- blog line 1 -->
        <div class="row">
            <div class="col-lg-4 text-center">
                <img class="blog_img--up">
                <p>Attributes</p>
            </div>
        </div>
        <!-- blogline 2 -->
        <div class="row">
            <div class="col-lg-6">
                <img class="blog_img" src="">
            </div>
            <div class="col-lg-6">
                <p class="txtblog">Attributes</p>
            </div>
        </div>
    </div>
</div>