<div id="container" class="row overflow-auto">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" style="background: var(--header-color)">
        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                <li class="mt-3">
                    <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-light fs-4 mb-3">
                        <i class="fs-4 bi bi-terminal d-block d-sm-none"></i> <span class="ms-1 d-none d-sm-inline">Language</span> </a>
                    <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                        <li class="w-100">
                            <a routerLink="/catalogdetails" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">1</span>
                                <span class="d-none d-sm-inline text-light">HTML&CSS</span></a>
                        </li>
                        <li>
                            <a routerLink="/catalogdetails" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">2</span>
                                <span class="d-none d-sm-inline text-light">Python</span></a>
                        </li>
                        <li>
                            <a routerLink="/catalogdetails" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">3</span>
                                <span class="d-none d-sm-inline text-light">JavaScript</span></a>
                        </li>
                        <li>
                            <a routerLink="/catalogdetails" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">4</span>
                                <span class="d-none d-sm-inline text-light">Java</span></a>
                        </li>
                        <li>
                            <a routerLink="/catalogdetails" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">5</span>
                                <span class="d-none d-sm-inline text-light">SQL</span></a>
                        </li>
                        <li>
                            <a routerLink="/catalogdetails" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">6</span>
                                <span class="d-none d-sm-inline text-light">C++</span></a>
                        </li>
                        <li>
                            <a routerLink="/catalogdetails" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">7</span>
                                <span class="d-none d-sm-inline text-light">C#</span></a>
                        </li>
                        <li>
                            <a routerLink="/catalogdetails" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">8</span>
                                <span class="d-none d-sm-inline text-light">R</span></a>
                        </li>
                        <li>
                            <a routerLink="/catalogdetails" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">9</span>
                                <span class="d-none d-sm-inline text-light">Kotlin</span></a>
                        </li>

                    </ul>
                </li>
                <li class="mt-3">
                    <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-light fs-4 mb-3">
                        <i class="fs-4 bi bi-briefcase d-block d-sm-none"></i> <span class="ms-1 d-none d-sm-inline">Subjects</span> </a>
                    <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                        <li class="w-100">
                            <a href="/catalogdetails" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">1</span>
                                <span class="d-none d-sm-inline text-light">Web Design</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">2</span>
                                <span class="d-none d-sm-inline text-light">Data Science</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">3</span>
                                <span class="d-none d-sm-inline text-light">Computer Science</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">4</span>
                                <span class="d-none d-sm-inline text-light">For Business</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">5</span>
                                <span class="d-none d-sm-inline text-light">Mobile Development</span></a>
                        </li>
                    </ul>
                </li>
                <li class="mt-3">
                    <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-light fs-4 mb-3">
                        <i class="fs-4 bi bi-question-square d-block d-sm-none"></i> <span class="ms-1 d-none d-sm-inline">What should I begin?</span> </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="content" class="col py-3">
        <!-- banner1 -->
        <div class="banner1">
            <img src="../../assets/images/catalog/banner1.PNG" class="img-fluid" alt="Responsive image">
            <div class="txtbanner1">Not sure where to begin? Take our quiz?</div>
        </div>
        <!-- header 1-->
        <div class="row">
            <h4 class="header mt-5">Popular</h4>
        </div>
        <!-- courses popular-->
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4" *ngFor="let c2 of courses2" (click)="getNavigation(c2)">
                <a class="text-decoration-none text-dark" target="blank">
                    <div class="txtcourse">
                        <div class="tag">
                            <p class="txttag">Pro</p>
                        </div>
                        <div class="information">
                            <p class="box--course_header">{{c2.title}}</p>
                            <ul>
                                <li>{{c2.level}}</li>
                                <li>121 Lessons</li>
                            </ul>
                        </div>
                        <p class="coude">Coudé</p>
                    </div>
                </a>
            </div>
        </div>

        <!-- header 2 -->
        <div class="row">
            <h4 class="header mt-5">New</h4>
        </div>
        <!-- courses new  -->
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4" *ngFor="let c of courses1" (click)="getNavigation(c)">
                <a class="text-decoration-none text-dark" target="blank">
                    <div class="txtcourse">
                        <div class="tag">
                            <p class="txttag">Pro</p>
                        </div>
                        <div class="information">
                            <p class="box--course_header">{{c.title}}</p>
                            <ul>
                                <li>{{c.level}}</li>
                                <li>121 Lessons</li>
                            </ul>
                        </div>
                        <p class="coude">Coudé</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>