* {
    box-sizing: border-box;
}

.main-content {
    margin-right: 15px;
}
.navbar {
    width: 100%;
    height: 100%;
    padding: 20px;
     /* position: fixed; */
     background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(55, 73, 168, 0.2), rgba(55, 73, 168, 0.2)), rgba(0, 0, 0, 0.76);
 }
 
 .nav-link {
     font-size: 15px;
     font-family: RobotoRegular;
 }
 
 .nav-link:active,
 .nav-link:focus,
 .nav-link:hover {
     background-color: #ffffff26;
 }
 
 .navbar-brand {
     font-family: RobotoMedium;
 }
.total {
    margin: auto;
    padding: 20px 10px;
    border: 1px solid grey;
    font-family: RobotoRegular;
}

.button-confirm {
    width: auto;
    padding: 15px 30px;
    margin: auto;
}

h6 {
    font-family: RobotoLight;
}

h3 {
    font-family: MontserratExtraBold;
}

#div-mid {
    margin-left: 0px;
}

.content-left-top {
    border: 1px solid grey;
    padding: 5px;
}

.btn-next {
    margin-top: 10px;
}

#btnnext {
    padding: 15px 20px;
    font-family: MontserratExtraBold;
}


/* CSS sidebar */

#myTopnav {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(55, 73, 168, 0.2), rgba(55, 73, 168, 0.2)), rgba(0, 0, 0, 0.76);
    padding: 20px;
    height: calc(100vh - 160px);
}

.topnav {
    overflow: hidden;
    position: relative;
}

.topnav a {
    display: block;
    text-align: left;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: RobotoRegular;
}

.topnav .icon {
    display: none;
}