<div class="container-fluid">
    <div class="row">
        <div class="col">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a id="title" href="">Options</a>
                </li>
                <li class="nav-item">
                    <a href="">Lesson 1</a>
                </li>
                <li class="nav-item">
                    <a href="">Lesson 2</a>
                </li>
                <li class="nav-item">
                    <a href="">Lesson 3</a>
                </li>
                <li class="nav-item">
                    <a href="">Lesson 4</a>
                </li>
                <li class="nav-item">
                    <a href="">Lesson 5</a>
                </li>
                <li class="nav-item">
                    <a id="title" href="">Assignements</a>
                </li>
                <li class="nav-item">
                    <a href="">Lesson 1</a>
                </li>
                <li class="nav-item">
                    <a href="">Lesson 2</a>
                </li>
                <li class="nav-item">
                    <a href="">Lesson 3</a>
                </li>
                <li class="nav-item">
                    <a href="">Lesson 4</a>
                </li>
                <li class="nav-item">
                    <a href="">Lesson 5</a>
                </li>
                <li class="nav-item">
                    <a id="title" href="">Documents</a>
                </li>
                <li class="nav-item">
                    <a id="title" href="">Notes</a>
                </li>
                <li class="nav-item">
                    <a id="title" href="">Exercises</a>
                </li>
            </ul>
        </div>
        <div class="col-10">
            <div class="main-content">
                <div id="overview">
                    <fieldset style="border: 2px solid black">
                        <legend>
                            <h1>Back-End Engineer</h1>
                        </legend>
                        <p>Instructor: Nguyen Hoang Tuyet Nhi</p>
                        <div class="timeline" style="position: relative;">   
                            <div class="timeline-container d-flex" style="z-index: 2;  position: absolute">
                                <div class="timeline__item">
                                    <div class="week-circle">
                                    </div>
                                    <p>Lesson 1</p>
                                </div>
                                <div class="timeline__item">
                                    <div class="week-circle">
                                    </div>
                                    <p>Lesson 2</p>
                                </div>
                                <div class="timeline__item">
                                    <div class="week-circle">
                                    </div>
                                    <p>Lesson 3</p>
                                </div>
                                <div class="timeline__item">
                                    <div class="week-circle">
                                    </div>
                                    <p>Lesson 4</p>
                                </div>
                                <div class="timeline__item">
                                    <div class="week-circle">
                                    </div>
                                    <p>Lesson 5</p>
                                </div>
                            </div>
                            <div style="z-index: 1; align-items: center; position: relative; top: 10px">
                                <div style="height: 0.8px; background-color: black; width: 80%; min-width: 600px; left: 0;">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="week">
                    <div id="title">Lesson 1</div>
                    <div id="remind--content" class="week-detail d-flex">
                        <div id="video--content" class="d-flex">
                            <div>
                                <div class="lesson">
                                    <p>Video: total 2 housr 30 minutes</p>
                                </div>
                                <div class="lesson">
                                    <p>Read: total 2 hours 30 minutes</p>
                                </div>
                                <div class="lesson">
                                    <p>Write: total 2 hours 30 minutes</p>
                                </div>
                            </div>
                            <div style="display:flex; flex-direction: column; justify-content: space-evenly ">
                                <div class="lesson-check--circle " style="background-color: var(--footer-color); "></div>
                                <div class="lesson-check--circle " style="background-color: var(--footer-color); "></div>
                                <div class="lesson-check--circle " style="background-color: var(--footer-color); "></div>
                            </div>
                        </div>
                        <div>
                            <p>Deadline: Nov 7 2021</p>
                            <p>Grade: <span id="grade ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
                            <p>Quiz: <span id="quiz ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
                        </div>
                    </div>
        
                    <div class="video-container ">
                        <div class="video__item d-flex">
                            <h5>Lesson 1</h5>
                            <p>Web Design with HTML and CSS Digital Classroom.</p>
                        </div>
                        <div class="video__item d-flex">
                            <h5>Lesson 2</h5>
                            <p>Web Design with HTML and CSS Digital Classroom.</p>
                        </div>
                        <div class="video__item d-flex">
                            <h5>Lesson 3</h5>
                            <p>Web Design with HTML and CSS Digital Classroom.</p>
                        </div>
                        <div class="video__item d-flex">
                            <h5>Lesson 4</h5>
                            <p>Web Design with HTML and CSS Digital Classroom.</p>
                        </div>
                        <div class="video__item d-flex">
                            <h5>Lesson 5</h5>
                            <p>Web Design with HTML and CSS Digital Classroom.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>
