
    .navbar {
        width: 250px;
        height: 100vh;
        position: fixed;
        background-color: #7952b3;
        transition: 0.4s;
    }
    
     ::-webkit-scrollbar {
        display: none;
    }
    
    .rec-frame__shape {
        border: 8px solid rgba(255, 255, 255, 0.86);
        height: fit-content;
        min-width: 300px;
        filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.25));
        width: 38%
    }
    
    .rec-frame__shape>p {
        font-size: 18px;
    }
    
    .frame {
        font-family: MontserratRegular;
    }
    
    .frame__clr--dark {
        background-color: var(--header-color);
        color: white;
    }
    
    .frame__top {
        padding-top: calc(70vh - 240px);
    }
    
    .frame__mid {
        padding-top: 10%;
        padding-bottom: 10%;
    }
    /* .sub-container {
    justify-content: space-evenly;
    align-self: center;
} */
    /* .sub-container>div{
    margin-right: 40px;
    margin-bottom: 20px;
} */
    
    .cta-container {
        width: 280px;
    }
    
    .slogan p,
    h2 {
        margin: 0;
        padding: 0;
        width: fit-content;
    }
    
    .slogan p {
        position: relative;
        top: 10px;
        left: calc(40% + 5em);
        display: inline-block
    }
    
    .slogan span {
        letter-spacing: 2px;
        font-size: 35px;
        font-weight: 600;
    }
    
    .btn-create-account {
        background-color: #2EA44F;
        color: white;
        border-radius: 5px;
        border: none;
        padding: 10px 20px;
        vertical-align: middle;
        position: relative;
        top: 150px;
    }
    
    .logo-container {
        justify-content: center;
        margin-top: 80px;
    }
    
    .logo-container>img:nth-child(n) {
        width: 60px;
        height: 60px;
        margin-left: 35px;
    }
    
    .logo-container>img:first-child {
        margin-left: 0;
    }
    
    .search-box {


.navbar {
    width: 250px;
    height: 100vh;
    position: fixed;
    background-color: #7952b3;
  transition: 0.4s;
}
.rec-frame__shape {
    border: 8px solid rgba(255, 255, 255, 0.86);
    min-width: 300px;
    filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.25));
    width: 38%;
}
.rec-frame__shape>p{
    font-size: 18px;
}
.frame{
    font-family: MontserratRegular;
}
.frame__clr--dark {
    background-color: var(--header-color);
    color: white;
}
.frame__top {
    padding-top: calc(40vh - 100px);
}
.frame__mid {
    padding-top: 10%;
    padding-bottom: 5%;
}
.cta-container {
    width: 280px;
}
.slogan p,
h2 {
    margin: 0;
    padding: 0;
}

.slogan p {
    top: 10px;
    left: calc(40% + 5em);
}

.slogan span {
    letter-spacing: 2px;
    font-size: 35px;
    font-weight: 600;
}

.btn-create-account {
    background-color: var(--green);
    border: none;
    padding: 10px 20px;
    top: 150px;
}

.logo-container {
    margin-top: 80px;
}

.logo-container>img:nth-child(n) {
    width: 60px;
    height: 60px;
    margin-left: 35px;
}

.logo-container>img:first-child {
    margin-left: 0;
}
.row--align-bottom {
    align-items: flex-end;
    justify-content: space-evenly;
}

svg {
    color: white;
    display: inline-block
}
.course-container {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    width: max-content;
}
.course__right-col .course-container__item {
    height: max-content;
}
.course-container__item {
    background-color: white;
    color: black;
    border: 2.5px solid black;
    margin: 10px 5px;
    padding: 5px 5px 10px 0px;
    flex: 1;
    min-width: 250px;
}

.course-container__item>div:nth-child(2) {
    margin: auto 20px;
    text-align: center;
}
.button__create-account:hover,
.course-container__item:hover,
a:hover {
    opacity: 0.8;
    cursor: pointer;
}

.course__tag {
    background-color: black;
    color: white;
    width: fit-content;
    padding: 0 10px 0 5px;
}

.course__coude-tag {
    text-align: right;
    font-size: 11px;
}

.field-container {
    font-size: 20px;
    margin-top: 30px;
    list-style-position: inside;
}

.field-container li {
    font-size: 20px;
    margin-left: 15px;
    font-family: 'Courier New', Courier, monospace;
}

.field-container a {
    color: white;
}

.people img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.people *,
.milestone__item * {
    margin: 0;
}

.people h1 {
    letter-spacing: 2px;
}

.people p {
    font-size: 10px;
    text-align: justify;
}

.title,
.milestone__item p {
    width: fit-content;
}

.title p {
    font-size: 16px;
}

.people-container {
    width: 400px;
}

.people-container__item {
    width: fit-content;
    margin: 20px 10px!important;
}

.people-container__item h5 {
    font-size: 14px;
}

.milestone-container {
    min-width: 200px;
}

.milestone__content {
    border-left: 1.8px solid lightslategray;
    height: fit-content;
}

.milestone__item {
    margin: 15px 10px;
}

.milestone__item p:first-child {
    font-weight: bold;
    font-size: 20px;
}

.milestone__item p:nth-child(2) {
    font-size: 10px;
}
iframe {
    width: 80%;
    height: 80vh;
}

@media only screen and (max-width: 600px) {
    .code-frame>iframe {

        display: none;
    }
    
    .search-box svg {
        display: block;
    }
    
    #login {
        right: 5%;
        bottom: 30%;
        background: transparent;
        border: 1px solid white;
        color: white;
        height: 30px;
        line-height: 1;
        right: 5%;
        top: 12px
        /* vertical-align: -webkit-baseline-middle; */
        /* position: absolute */
    }
    
    .row--align-bottom {
        align-items: flex-end;
        justify-content: space-evenly;
    }

    
    svg {
        color: white;
        display: inline-block

    .rec-frame__shape {
        width: 75%;

    }
    
    .nav {
        background: var(--header-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        align-items: center;
        max-height: 55px;
        z-index: 99;
        justify-content: flex-start;
        top: 0px;
    }
    
    .navbar-link a {
        color: white;
        font-size: 15px;
        text-decoration: none;
    }

    
    .navbar-link li {
        padding: 14px 20px;
        list-style-type: none;
    }
    
    .navbar-link li:hover {
        background-color: rgba(10, 10, 27, 0.76);
        transition: 0.7s;
        opacity: 0.7

    .slogan p {
        margin-bottom: 20px;
        left: calc(5% + 5em);

    }
    
    .header__logo {
        width: 138px;
        margin-left: 20px;
    }
    
    .course-container {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        /* justify-content: center; */
        width: 100%;
        width: max-content;
    }
    
    .course__right-col {
        display: flex;
        flex-direction: column;
    }
    
    .course__right-col .course-container__item {
        height: max-content;
    }
    
    .course-container__item {
        background-color: white;
        color: black;
        border: 2.5px solid black;
        margin: 10px 5px;
        padding: 5px 5px 10px 0px;
        flex: 1;
        min-width: 250px;
    }
    
    .course-container__item>div:nth-child(2) {
        /*Nội dung course*/
        margin: auto 20px;
        text-align: center;
    }
    
    #sidebar {
        width: 15%;
        position: fixed;
        background-color: #7952b3;
        transition: 0.4s;
    }
    
    .nav-link {
        font-size: 1.25em;
    }
    
    .nav-link:active,
    .nav-link:focus,
    .nav-link:hover {
        background-color: #ffffff26;
    }
    
    .button__create-account:hover,
    .course-container__item:hover,
    #login:hover,
    a:hover {
        opacity: 0.8;
        cursor: pointer;
    }
    
    .course__tag {
        background-color: black;
        color: white;
        width: fit-content;
        padding: 0 10px 0 5px;
    }
    
    .course__coude-tag {
        text-align: right;
        font-size: 11px;
    }
    
    .field-container {

        font-size: 20px;
        margin-top: 30px;
        list-style-position: inside;
    }
    
    .field-container li {
        font-size: 20px;
        margin-left: 15px;
    }
    
    .field-container a {
        font-family: 'Courier New', Courier, monospace;
        text-decoration: none;
    }
    
    .link-catalog,
    .field-container a {
        color: white;
    }
    
    .people img {
        border-radius: 50%;
        width: 80px;
        height: 80px;
        margin-right: 10px;
    }
    
    .people *,
    .milestone__item * {
        margin: 0;
    }
    
    .people h1 {
        letter-spacing: 2px;

        justify-content: flex-start;
        flex-direction: column;

    }
    
    .people p {
        font-size: 10px;
        text-align: justify;
    }
    
    .title,
    .milestone__item p {
        width: fit-content;
    }
    
    .title p {
        font-size: 16px;
    }
    
    .people-container {
        width: 400px;
        align-items: center;
    }
    
    .people-container__item {
        /* justify-content: space-between; */
        width: fit-content;
        margin: 20px 10px!important;
        /* vertical-align: middle; */
    }
    
    .people-container__item h5 {
        font-size: 14px;
    }
    
    .milestone-container {
        /* width: min-content; */
        min-width: 200px;
        /* flex: 1; */
    }
    
    .milestone__content {
        border-left: 1.8px solid lightslategray;
        height: fit-content;
    }
    
    .milestone__item {
        margin: 15px 10px;
    }
    
    .milestone__item p:first-child {
        font-weight: bold;
        font-size: 20px;
    }
    
    .milestone__item p:nth-child(2) {
        font-size: 10px;
    }
    
    .code-frame {
        text-align: center;
    }
    
    iframe {
        width: 80%;
        height: 80vh;
        margin: 15px auto;
    }
    
    @media only screen and (max-width: 600px) {
        .code-frame>iframe {
            display: none;
        }
        .logo-container>img {
            width: 10% !important;
            height: 10% !important;
        }
    }
    
    @media only screen and (max-width: 768px) {
        .d-flex {
            flex-wrap: wrap;
        }
        .d-flex.sub-container.course {
            flex-wrap: wrap-reverse;
        }
        .rec-frame__shape {
            width: 70%;
        }
        .slogan,
        .btn-create-account {
            position: unset!important;
        }
        .cta-container {
            top: 20px;
        }
        /* .slogan{
        top: 15px;
        position: absolute;
    } */
        .slogan p {
            margin-bottom: 20px;
            left: calc(5% + 5em);
        }
        .course-container {
            justify-content: space-around;
        }
        .course-container__item {
            margin-bottom: 10px;
            width: 65vw;
            min-width: fit-content;
        }
        .field-container {
            justify-content: flex-start;
            flex-direction: column;
            margin-left: 5%;
        }
        .people-container {
            width: 95%;
        }
        .people-container__item {
            flex-wrap: nowrap;
        }
        .row--align-bottom {
            justify-content: flex-start;
            margin-left: 2%
        }
    }