.navbar {
    width: 250px;
    height: 100vh;
    position: fixed;
    background-color: #7952b3;
    transition: 0.4s;
}

#sidebar {
    width: 15%;
    position: fixed;
    background-color: #7952b3;
    transition: 0.4s;
}

.nav-link {
    font-size: 1.25em;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-color: #ffffff26;
}