<div class="container-fluid">
    <div class="row">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" style="background: var(--header-color)">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 text-white min-vh-100">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="mt-3">
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-light fs-4 mb-3">
                            <i class="fs-4 bi bi-terminal d-block d-sm-none"></i> <span class="ms-1 d-none d-sm-inline">Language</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">1</span>
                                    <span class="d-none d-sm-inline text-light">HTML&CSS</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">2</span>
                                    <span class="d-none d-sm-inline text-light">Python</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">3</span>
                                    <span class="d-none d-sm-inline text-light">JavaScript</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">4</span>
                                    <span class="d-none d-sm-inline text-light">Java</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">5</span>
                                    <span class="d-none d-sm-inline text-light">SQL</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">6</span>
                                    <span class="d-none d-sm-inline text-light">C++</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">7</span>
                                    <span class="d-none d-sm-inline text-light">C#</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">8</span>
                                    <span class="d-none d-sm-inline text-light">R</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">9</span>
                                    <span class="d-none d-sm-inline text-light">Kotlin</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="mt-3">
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-light fs-4 mb-3">
                            <i class="fs-4 bi bi-briefcase d-block d-sm-none"></i> <span class="ms-1 d-none d-sm-inline">Subjects</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">1</span>
                                    <span class="d-none d-sm-inline text-light">Web Design</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">2</span>
                                    <span class="d-none d-sm-inline text-light">Data Science</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">3</span>
                                    <span class="d-none d-sm-inline text-light">Computer Science</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">4</span>
                                    <span class="d-none d-sm-inline text-light">For Business</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">5</span>
                                    <span class="d-none d-sm-inline text-light">Mobile Development</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="mt-3">
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-light fs-4 mb-3">
                            <i class="fs-4 bi bi-question-square d-block d-sm-none"></i> <span class="ms-1 d-none d-sm-inline">What should I begin?</span> </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col py-3">
            <div class="containter-fluid">
                <h3 class="fw-bold fs-4">HTML&CSS</h3>
                <div class="mb-5">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis doloribus repudiandae corrupti, temporibus, fugiat quos obcaecati blanditiis dicta reprehenderit architecto fuga necessitatibus, exercitationem voluptatum natus! Deleniti amet rerum molestiae
                    nam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum est necessitatibus repudiandae placeat? Quia, error natus magnam quisquam delectus numquam nesciunt aliquid hic excepturi illo facere voluptates nemo impedit id.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed dicta nam sint nihil, suscipit sit vel facilis deserunt iure placeat quod pariatur commodi repudiandae facere doloribus enim eveniet eaque temporibus!
                </div>
                <h4>For Beginner</h4>
                <div class="d-flex overflow-auto  align-items-center" style="width:1000px; height: 250px">
                    <div class="">
                        <a class="text-decoration-none text-dark" target="blank">
                            <div class="txtcourse me-2">
                                <div class="information">
                                    <p class="box--course_header">Front-End Engineer</p>
                                    <ul>
                                        <li>Beginner</li>
                                        <li>121 Lessons</li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="">
                        <a class="text-decoration-none text-dark" target="blank">
                            <div class="txtcourse me-2">
                                <div class="information">
                                    <p class="box--course_header">Front-End Engineer</p>
                                    <ul>
                                        <li>Beginner</li>
                                        <li>121 Lessons</li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="">
                        <a class="text-decoration-none text-dark" target="blank">
                            <div class="txtcourse me-2">
                                <div class="information">
                                    <p class="box--course_header">Front-End Engineer</p>
                                    <ul>
                                        <li>Beginner</li>
                                        <li>121 Lessons</li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="">
                        <a class="text-decoration-none text-dark" target="blank">
                            <div class="txtcourse me-2">
                                <div class="information">
                                    <p class="box--course_header">Front-End Engineer</p>
                                    <ul>
                                        <li>Beginner</li>
                                        <li>121 Lessons</li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="">
                        <a class="text-decoration-none text-dark" target="blank">
                            <div class="txtcourse me-2">
                                <div class="information">
                                    <p class="box--course_header">Front-End Engineer</p>
                                    <ul>
                                        <li>Beginner</li>
                                        <li>121 Lessons</li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="">
                        <a class="text-decoration-none text-dark" target="blank">
                            <div class="txtcourse me-2">
                                <div class="information">
                                    <p class="box--course_header">Front-End Engineer</p>
                                    <ul>
                                        <li>Beginner</li>
                                        <li>121 Lessons</li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <br>
                <h4>For Intermediate</h4>
                <div class="d-flex overflow-auto align-items-center" style="width:1000px; height: 250px">
                    <div class="">
                        <a class="text-decoration-none text-dark" target="blank">
                            <div class="txtcourse me-2">
                                <div class="information">
                                    <p class="box--course_header">Front-End Engineer</p>
                                    <ul>
                                        <li>Beginner</li>
                                        <li>121 Lessons</li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="">
                        <a class="text-decoration-none text-dark" target="blank">
                            <div class="txtcourse me-2">
                                <div class="information">
                                    <p class="box--course_header">Front-End Engineer</p>
                                    <ul>
                                        <li>Beginner</li>
                                        <li>121 Lessons</li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="">
                        <a class="text-decoration-none text-dark" target="blank">
                            <div class="txtcourse me-2">
                                <div class="information">
                                    <p class="box--course_header">Front-End Engineer</p>
                                    <ul>
                                        <li>Beginner</li>
                                        <li>121 Lessons</li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="">
                        <a class="text-decoration-none text-dark" target="blank">
                            <div class="txtcourse me-2">
                                <div class="information">
                                    <p class="box--course_header">Front-End Engineer</p>
                                    <ul>
                                        <li>Beginner</li>
                                        <li>121 Lessons</li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="">
                        <a class="text-decoration-none text-dark" target="blank">
                            <div class="txtcourse me-2">
                                <div class="information">
                                    <p class="box--course_header">Front-End Engineer</p>
                                    <ul>
                                        <li>Beginner</li>
                                        <li>121 Lessons</li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="">
                        <a class="text-decoration-none text-dark" target="blank">
                            <div class="txtcourse me-2">
                                <div class="information">
                                    <p class="box--course_header">Front-End Engineer</p>
                                    <ul>
                                        <li>Beginner</li>
                                        <li>121 Lessons</li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>