.container-fluid{
    margin-top: 60px;
}
h2{
    font-weight: bold;
    color: var(--green-deep);
}
hr{
    border: 2px solid black;
    width: 35%;
}
button{
    display: block;
    margin: auto;
}
#socialMedia{
    width: 30%;
    margin: 20px;
    border: 3px solid #777777;
    padding: 10px;
    text-align: center;
}
#socialMedia button{
    border: none;
    background-color: white;
}
#socialMedia img{
    width: 64px;
}
#slogan-left{
    font-weight: bold;
    color: black;
}
  