@font-face {
    font-family: RobotoBlack;
    src: url(./assets/fonts/roboto/Roboto-Black.ttf);
}
@font-face {
    font-family: RobotoBold;
    src: url(./assets/fonts/roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: RobotoRegular;
    src: url(./assets/fonts/roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: RobotoMedium;
    src: url(./assets/fonts/roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: RobotoLight;
    src: url(./assets/fonts/roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: MontserratBlack;
    src: url(./assets/fonts/montserrat/Montserrat-Black.ttf);
}
@font-face {
    font-family: MontserratBold;
    src: url(./assets/fonts/montserrat/Montserrat-Bold.ttf);
}
@font-face {
    font-family: MontserratMedium;
    src: url(./assets/fonts/montserrat/Montserrat-Medium.ttf);
}
@font-face {
    font-family: MontserratRegular;
    src: url(./assets/fonts/montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: MontserratSemiBold;
    src: url(./assets/fonts/montserrat/Montserrat-SemiBold.ttf);
}

.button--green{
    background-color: var(--green)!important;
    font-family: RobotoMedium;
    color: white!important;
    border: none
}
.button--grey{
    background-color: #DFDFE1!important;  
    font-family: RobotoMedium;
}
.background__whale--color{
    background-color: #000000;
}
:root{
    --header-color: #303342;
    --footer-color: #757682;
    --heart-color: #FF0F0F;
    --input-style: #E7E7EA;
    --background-login-frame: #F5F5FA;
    --green: #2ea44f;
    --green-deep: #199B80;
}
.btn{
    border-radius: 10px;
}
.box__course{
    border: 3px;
}
.box__payment{
    border: 1px;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background: var(--header-color)
}
::-webkit-scrollbar-thumb {
    background: var(--green); 
    border-radius: 10px;
  }
.fluid-container{
    margin-top: 55px;
}