.txtcourse {
    width: 200px;
    height: 150px;
    border: 2px solid black;
    border-radius: 3px;
}

.txtcourse:hover {
    background-color: #e2e4e3;
    background-color: rgb(238, 235, 235);
    box-shadow: 5px 5px;
}

.box--course_header {
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    font-family: 'RobotoBlack';
}

ul {
    margin-left: 18px;
    font-family: 'Roboto-Light';
}

#course {
    width: 100;
    height: 200;
}