<div class="container-fluid">
    <div class="row  overflow-auto">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" style="background: var(--header-color)">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="mt-3">
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-light fs-4 mb-3">
                            <i class="fs-4 bi bi-terminal d-block d-sm-none"></i> <span class="ms-1 d-none d-sm-inline">Language</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">1</span>
                                    <span class="d-none d-sm-inline text-light">HTML&CSS</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">2</span>
                                    <span class="d-none d-sm-inline text-light">Python</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">3</span>
                                    <span class="d-none d-sm-inline text-light">JavaScript</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">4</span>
                                    <span class="d-none d-sm-inline text-light">Java</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">5</span>
                                    <span class="d-none d-sm-inline text-light">SQL</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">6</span>
                                    <span class="d-none d-sm-inline text-light">C++</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">7</span>
                                    <span class="d-none d-sm-inline text-light">C#</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">8</span>
                                    <span class="d-none d-sm-inline text-light">R</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">9</span>
                                    <span class="d-none d-sm-inline text-light">Kotlin</span></a>
                            </li>

                        </ul>
                    </li>
                    <li class="mt-3">
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-light fs-4 mb-3">
                            <i class="fs-4 bi bi-briefcase d-block d-sm-none"></i> <span class="ms-1 d-none d-sm-inline">Subjects</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">1</span>
                                    <span class="d-none d-sm-inline text-light">Web Design</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">2</span>
                                    <span class="d-none d-sm-inline text-light">Data Science</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">3</span>
                                    <span class="d-none d-sm-inline text-light">Computer Science</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">4</span>
                                    <span class="d-none d-sm-inline text-light">For Business</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 text-light "> <span class="d-block d-sm-none text-light">5</span>
                                    <span class="d-none d-sm-inline text-light">Mobile Development</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="mt-3">
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-light fs-4 mb-3">
                            <i class="fs-4 bi bi-question-square d-block d-sm-none"></i> <span class="ms-1 d-none d-sm-inline">What should I begin?</span> </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col py-3">
            GANTT Chart illustrates schedules and tasks plans with vertical bars to know when each issue and task starts and ends. GANTT chart shows each relationship between tasks including: finish to start, finish to finish, start to start, and start to finish.
            In the Gantt Chart of this project, we can see that the longest phase is Building Data Warehouse and Integrating Data, it lasts up to about 1 month. And the shortest implementation phase is Visualizing and forecasting data with 5 days. And
            now we are currently in the data analysis phase. GANTT Chart illustrates schedules and tasks plans with vertical bars to know when each issue and task starts and ends. GANTT chart shows each relationship between tasks including: finish to
            start, finish to finish, start to start, and start to finish. In the Gantt Chart of this project, we can see that the longest phase is Building Data Warehouse and Integrating Data, it lasts up to about 1 month. And the shortest implementation
            phase is Visualizing and forecasting data with 5 days. And now we are currently in the data analysis phase. GANTT Chart illustrates schedules and tasks plans with vertical bars to know when each issue and task starts and ends. GANTT chart
            shows each relationship between tasks including: finish to start, finish to finish, start to start, and start to finish. In the Gantt Chart of this project, we can see that the longest phase is Building Data Warehouse and Integrating Data,
            it lasts up to about 1 month. And the shortest implementation phase is Visualizing and forecasting data with 5 days. And now we are currently in the data analysis phase. GANTT Chart illustrates schedules and tasks plans with vertical bars
            to know when each issue and task starts and ends. GANTT chart shows each relationship between tasks including: finish to start, finish to finish, start to start, and start to finish. In the Gantt Chart of this project, we can see that the
            longest phase is Building Data Warehouse and Integrating Data, it lasts up to about 1 month. And the shortest implementation phase is Visualizing and forecasting data with 5 days. And now we are currently in the data analysis phase.

        </div>
    </div>
</div>