<nav class="header__container navbar navbar-expand-lg py-0 position-fixed fixed-top align-content-around w-100 justify-content-between"
    id="navbar">
    <button type="button" class="icon navbar-toggle bg-transparent" data-bs-toggle="collapse"
        data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false"
        aria-label="Toggle navigation">☰</button>

    <a class="navbar-brand p-0 mx-lg-5 ms-xs-0" routerLink="/admin" id="logo">
        <img class="p-0" src="../../assets/images/logo.png" alt="Logo">
    </a>
    <div class="d-flex header__button-container me-0">
        <div class="btn-noti">
            <svg style="fill: white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path
                    d="M224 512c35.32 0 63.97-28.65 63.97-64H160.03c0 35.35 28.65 64 63.97 64zm215.39-149.71c-19.32-20.76-55.47-51.99-55.47-154.29 0-77.7-54.48-139.9-127.94-155.16V32c0-17.67-14.32-32-31.98-32s-31.98 14.33-31.98 32v20.84C118.56 68.1 64.08 130.3 64.08 208c0 102.3-36.15 133.53-55.47 154.29-6 6.45-8.66 14.16-8.61 21.71.11 16.4 12.98 32 32.1 32h383.8c19.12 0 32-15.6 32.1-32 .05-7.55-2.61-15.27-8.61-21.71z" />
            </svg>
        </div>
        <div class="dropdown">
            <button class="btn-user dropdown rounded-circle text-white" href="#" id="userDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <!-- <span class="rounded-circle"></span> -->
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                <li><a class="dropdown-item" routerLink="/generalinformation">Personal Info</a></li>
                <li><a class="dropdown-item" routerLink="/mycourse">My Learning</a></li>
                <li><a class="dropdown-item" href="#">My Purchase</a></li>
                <!-- <li><a class="dropdown-item" href="#">Setting</a></li> -->
                <li><a class="dropdown-item" routerLink="/home">
                        <span>Administrator</span>
                        <span class="ms-3"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="16"
                                fill="var(--green)" class="bi bi-check-lg" viewBox="0 0 16 16">
                                <path
                                    d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                            </svg> 
                        </span>
                    </a>
                </li>
                <li><a class="dropdown-item" routerLink="/contact">Support</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/catalog">Sign out</a></li>
            </ul>
        </div>
    </div>
</nav>