.username {
    font-size: 25px ;
}
table {
    width: 100%;
}
th, td{
    padding: 10px 0;
}
th{
    cursor: pointer;
}
table{
    border-radius: 5px 5px 0 0;
}
.red{
    color: red
}
.green{
    color: var(--green)
}
.btn__addCourse {
    border: 2px solid #2EA44F;
    border-radius: 5px;
    color: #2EA44F;
    padding-left: 5px ;
    background-color: white;
    width: 120px;
}