<div class="container-fluid">
    <h2 class="text-center">Contact Us</h2>
    <h3 class="text-center">Our Community</h3>
    <div class="d-flex justify-content-evenly">
        <div id="socialMedia">
            <button onclick="window.open('https://www.facebook.com/')">
                <img src="../../assets/icon/facebook-square-brands.svg">
            </button>
            <h4>FACEBOOK</h4>
            <p>To share all the knowledge you know</p>
        </div>
        <div id="socialMedia">
            <button onclick="window.open('https://www.linkedin.com/')">
                <img src="../../assets/icon/linkedin-brands.svg">
            </button>
            <h4>LINKEDIN</h4>
            <p>To share great career opportunities for you</p>
        </div>
        <div id="socialMedia">
            <button onclick="window.open('https://www.youtube.com/')">
                <img src="../../assets/icon/youtube-square-brands.svg">
            </button>
            <h4>YOUTUBE</h4>
            <p>To share all you can find on our website</p>
        </div>
    </div>
    <div class="position-relative">
        <hr class="position-absolute top-0 start-0">
        <br>
        <div class="position-relative text-center">
            <h2 id="slogan-right" class="text-center">No pain No gain</h2>
            <h2 id="slogan-left" class="position-absolute start-50">with Coudé</h2>
            <br>
        </div>
        <hr class="position-absolute end-0">
    </div>
    <br>
    <br>
    <div class="contact-content">
        <h3>Do you need help?</h3>
        <p>If you’re a learner on the Coudé platform and have questions or need technical assistance, please visit our Help Center for platform tutorials, FAQs or to chat with a member of our Customer Support team.</p>
        <h3>University Partnership Inquiries</h3>
        <p>If you’re a University or educational organization interested in creating content on the Coursera platform, please contact us at partnersupport@coude.edu.com.</p>
        <h3>Privacy Enquiries</h3>
        <p>If you have questions about our Privacy Notice or an enquiry about how we protect your personal information, you can contact us at privacy@coude.edu.vn</p>
    </div>
</div>
