<div class="container-fluid">
    <div class="row">
        <div class="col">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a id="title" href="">Options</a>
                </li>
                <li class="nav-item">
                    <a href="">Lesson 1</a>
                </li>
                <li class="nav-item">
                    <a href="">Lesson 2</a>
                </li>
                <li class="nav-item">
                    <a href="">Lesson 3</a>
                </li>
                <li class="nav-item">
                    <a href="">Lesson 4</a>
                </li>
                <li class="nav-item">
                    <a href="">Lesson 5</a>
                </li>
                <li class="nav-item">
                    <a id="title" href="">Assignements</a>
                </li>
                <li class="nav-item">
                    <a href="">Lesson 1</a>
                </li>
                <li class="nav-item">
                    <a href="">Lesson 2</a>
                </li>
                <li class="nav-item">
                    <a href="">Lesson 3</a>
                </li>
                <li class="nav-item">
                    <a href="">Lesson 4</a>
                </li>
                <li class="nav-item">
                    <a href="">Lesson 5</a>
                </li>
                <li class="nav-item">
                    <a id="title" href="">Documents</a>
                </li>
                <li class="nav-item">
                    <a id="title" href="">Notes</a>
                </li>
                <li class="nav-item">
                    <a id="title" href="">Exercises</a>
                </li>
            </ul>
        </div>
        <div class="col-10">
            <div id="content">
                <ul class="breadcrumb">
                    <li><a href="">Back-End Engineer</a></li>
                    <li>Lesson 1</li>
                </ul>
                <div id="script">
                    <p>Script Lesson 1:</p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo illum, laborum hic est harum molestias maiores, rerum quaerat autem eum dolore perferendis voluptatum quis eius delectus earum libero eaque dolorem!<br> Lorem ipsum dolor sit
                    amet consectetur, adipisicing elit. Tempora illo illum quae commodi exercitationem repellat? Voluptatibus, nihil consequuntur harum quam eligendi sint facere, rerum enim rem exercitationem dolore? Ad, iure.
                </div>
                <div class="d-flex justify-content-between">
                    <button class="button--green">Previous</button>
                    <button class="button--green">Next</button>
                </div>
                <div id="lesson">
                    <p id="lesson-title">Lesson1 : Introduction about IT</p>
                    <iframe src="https://www.youtube.com/embed/V3ZPPPKEipA" title="Lesson 1" allowfullscreen></iframe>
                </div>
                <br>
                <div class="d-flex justify-content-evenly">
                    <button class="button--green">Save like favourite</button>
                    <button class="button--green" onclick="window.open('https://codepen.io/')">Try it</button>
                </div>
            </div>
        </div>
    </div>  
</div>

