<form action="">
    <div class="edit">
        <button class="edit__btn" type="button" data-cmd="justifyLeft">
            <i class="bi bi-text-left"></i>
        </button>
        <button class="edit__btn" type="button" data-cmd="justifyCenter">
            <i class="bi bi-text-center"></i>
        </button>
        <button class="edit__btn" type="button" data-cmd="justifyFull">
            <i class="bi bi-justify"></i>
        </button>
        <button class="edit__btn" type="button" data-cmd="justifyRight">
            <i class="bi bi-text-right"></i>
        </button>
        <button class="edit__btn" type="button" data-cmd="bold">
            <i class="bi bi-type-bold"></i>
        </button>
        <button class="edit__btn" type="button" data-cmd="italic">
            <i class="bi bi-type-italic"></i>
        </button>
        <button class="edit__btn" type="button" data-cmd="underline">
            <i class="bi bi-type-underline"></i>
        </button>
        <button class="edit__btn" type="button" data-cmd="insertOrderedList">
            <i class="bi bi-list-ol"></i>
        </button>
        <button class="edit__btn" type="button" data-cmd="insertUnorderedList">
            <i class="bi bi-list-ul"></i>
        </button>
        <button class="edit__btn" type="button" data-cmd="insertImage">
            <i class="bi bi-image"></i>
        </button>
        <button class="edit__btn" type="button" data-cmd="createLink">
            <i class="bi bi-link-45deg"></i>
        </button>
    </div>
</form>
<!-- <iframe id="output" name="textField"></iframe> -->
<textarea id="output" name="textField" cols="30" rows="10"></textarea>
