<nav class="navbar navbar-expand d-flex flex-column align-item-start" id="sidebar">
    <a href="#" class="navbar-brand text-light mt-3 w-50">
        <div class=" font-weight-bold">Language</div>
    </a>
    <ul class="navbar-nav d-flex flex-column mt-2 w-100">
        <li class="nav-item w-100">
            <a href="#" class="nav-link text-light pl-4">HTML&CSS</a>
        </li>
        <li class="nav-item w-100">
            <a href="#" class="nav-link text-light pl-4">Python</a>
        </li>
        <li class="nav-item w-100">
            <a href="#" class="nav-link text-light pl-4">JavaScript</a>
        </li>
        <li class="nav-item w-100">
            <a href="#" class="nav-link text-light pl-4">Java</a>
        </li>
        <li class="nav-item w-100">
            <a href="#" class="nav-link text-light pl-4">SQL</a>
        </li>
        <li class="nav-item w-100">
            <a href="#" class="nav-link text-light pl-4">C++</a>
        </li>
        <li class="nav-item w-100">
            <a href="#" class="nav-link text-light pl-4">C#</a>
        </li>
        <li class="nav-item w-100">
            <a href="#" class="nav-link text-light pl-4">R</a>
        </li>
        <li class="nav-item w-100">
            <a href="#" class="nav-link text-light pl-4">Kotlin</a>
    </ul>
    <a href="#" class="navbar-brand text-light mt-3 w-50">
        <div class=" font-weight-bold">Subjects</div>
    </a>
    <ul class="navbar-nav d-flex flex-column mt-2 w-100">
        <li class="nav-item w-100">
            <a href="#" class="nav-link text-light pl-4">Web Design</a>
        </li>
        <li class="nav-item w-100">
            <a href="#" class="nav-link text-light pl-4">Data Science</a>
        </li>
        <li class="nav-item w-100">
            <a href="#" class="nav-link text-light pl-4">Computer Science</a>
        </li>
        <li class="nav-item w-100">
            <a href="#" class="nav-link text-light pl-4">For Business</a>
        </li>
        <li class="nav-item w-100">
            <a href="#" class="nav-link text-light pl-4">Mobile Development</a>
        </li>
    </ul>
    <a href="#" class="navbar-brand text-light mt-3 w-50">
        <div class=" font-weight-bold">Where do I begin?</div>
    </a>
</nav>