<div class="container-fluid">
    <form class="form-container d-flex flex-column">
        <img src="/assets/images/logo.png" class="coude-logo">
        <div  class="text-center">
            <p>Please fill in this form to create an account</p>
            <hr style="width: 80%; display: block; margin: auto;">
        </div>
        <div class="form-content d-flex flex-column">
            <label>Account name</label>
            <input type="text" class="form-text">
            <label>Email</label>
            <input type="text" class="form-text">
            <label>Password</label>
            <input type="password" class="form-text">
            <label>Password</label>
            <input type="password" class="form-text">
        </div>
        <br>
        <div class="text-center">
            <input type="checkbox" name="agree" id="agree"> Agree to our terms & privacy
        </div>
        <br>
        <br>
        <div id="button-block" class="d-flex justify-content-evenly">
            <button type="subm  it" class="button--green">Sign up</button>
        </div>
    </form>
</div>