<div class="container-fluid my-5 px-5">
    <div class="fs-4 fw-bold ">Assignment</div>
    <div class="my-2">
        <div class="fs-6">You finished Lesson 1:"Introduction"</div>
        <div class="fs-6">You can start the assignment now!</div>
    </div>
    <div class="table-responsive-sm mt-3">
        <table class="table table-hover table-borderless table-striped table-sm ">
            <tbody>
                <tr class="">
                    <td class="fw-bold">Attempt</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td class="fw-bold">Grade</td>
                    <td>0/100</td>
                </tr>
                <tr>

                    <td class="fw-bold">Status</td>
                    <td class="">_</td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="button" class="btn btn-success mx-auto d-block my-5">Start</button>
</div>