<div class="container-fluid">
    <img src="../../assets/images/who-we-are/Cover.png">
    <div>
        <h2 class="text-center">Our Story</h2>
        <p >February 2021, Coudé was born with the goal of supporting people who want to learn about programming, helping people have the ability to create their own world with technology products and contributing practical application products to the community.
        </p>
        <br>
        <div id="meaning" class="d-flex justify-content-evenly">
            <div class="item position-relative">
                <div id="line-top"></div>
                <div class="text-center">
                    <h5>Community</h5>
                    <p id="sub-title">Knowledge exchange</p>
                </div> 
                <br>            
                <p id="item-footer" class="position-absolute bottom-0 end-0">Coudé</p>
            </div>
            <div class="item position-relative">
                <div id="line-top"></div>
                <div class="text-center">
                    <h5>Online</h5>
                    <p id="sub-title">Anywhere & anytime</p>
                </div>
                <br>
                <p id="item-footer" class="position-absolute bottom-0 end-0">Coudé</p>
            </div>
            <div class="item position-relative">
                <div id="line-top"></div>
                <div class="text-center">
                    <h5>Unity</h5>
                    <p id="sub-title">The product you make is unique</p>
                </div>   
                <br>            
                <p id="item-footer" class="position-absolute bottom-0 end-0">Coudé</p>
            </div>
            <div class="item position-relative">
                <div id="line-top"></div>
                <div class="text-center">
                    <h5>Developer</h5>
                    <p id="sub-title">Be creative and do what you want</p>
                </div>
                <br>
                <p id="item-footer" class="position-absolute bottom-0 end-0">Coudé</p>
            </div>
            <div class="item position-relative">
                <div id="line-top"></div>
                <div class="text-center">
                    <h5>Education</h5>
                    <p id="sub-title">Professional academy</p>
                </div>
                <br>
                <p id="item-footer" class="position-absolute bottom-0 end-0">Coudé</p>
            </div>
        </div>
        <br>
        <h2 class="text-center">Our Vision</h2>
        <p id="vision" class="text-center">We envision a world where anyone, anywhere has the power to transform their life through learning</p>
        <div class="d-flex justify-content-evenly">
            <div id="vision-item">
                <h3><img src="../../assets/icon/globe-europe-solid.svg"> World-class</h3>
                Learn from experts at 200+ leading universities and companies
            </div>
            <div id="vision-item">
                <h3><img src="../../assets/icon/compass-solid.svg"> Flexible</h3>
                Get on-demand lectures for desktop and mobile—on your schedule.
            </div>
            <div id="vision-item">
                <h3><img src="../../assets/icon/calendar-check-solid.svg"> Job-relevant</h3>
                Master essential career skills based on comprehensive skills data.
            </div>
        </div>
    </div>
</div>

